@*@model Web_CSE.Areas.Admin.Models.LoginViewModel*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_CSE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="shortcut icon" href="https://github.com/fluidicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style/base.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/css/style/content-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style/posts.css" rel="stylesheet" />
    <link href="~/css/style/ckeditor-box.css "rel="stylesheet"/>

</head>

<body>
    <div class="top-header">
        <div class="label">
            <a href="http://www.tlu.edu.vn/">Trường Đại Học Thủy Lợi-TLU</a>
        </div>
        <div class="list-login">
            <span>(+) |</span>
            <a class="btn-login" href="admin/posts "title="Login">Login</a>
            <span>| |</span>
            <span>Ngôn ngữ: </span>
            <a href="#"><img class="icon-language" src="	http://cse.tlu.edu.vn/cse/assets/images/icons/icon-lang-vi.png"
                    alt=""></a>
            <a href="#"><img class="icon-language" src="	http://cse.tlu.edu.vn/cse/assets/images/icons/icon-lang-en.png"
                    alt=""></a>
        </div>
        <div class="header-language">

        </div>
        <div class="search-box">
            <form action="#" method="post">
                <input type="text" placeholder="Tìm kiếm" class="search-area">
                <button type="submit" class="search-btn" title="Search"><span class="material-symbols-outlined"
                        style="color: #000;">
                        search
                    </span></button>
            </form>
        </div>
    </div>
    <header>
        <div id="header" class="container">
            <a href="#"><img class="logo-page" src="http://cse.tlu.edu.vn/cse/assets/images/logo.jpg" alt=""></a>
            <ul class="list-navigation">
                <li class="sub-nav"><a href="./">TRANG CHỦ</a></li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "Introduces")">GIỚI THIỆU</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "GTLogo")">Logo khoa CNTT</a></li>
                        <li><a href="@Url.Action("Index", "Greetings")">Lời chào mừng</a></li>
                        <li><a href="@Url.Action("Index", "GTOrganization")">Tổ chức</a></li>
                        <li><a href="@Url.Action("Index", "HTLK")">Hợp tác</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "ScientificResearch")">NGHIÊN CỨU KHOA HỌC</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "SRprojects")">Các đề tài,dự án</a></li>
                        <li><a href="@Url.Action("Index", "Seminars")">Thông tin seminar</a></li>
                        <li><a href="@Url.Action("Index", "CTCB")">Công trình công bố</a></li>
                        <li><a href="@Url.Action("Index", "SRLabs")">Các phòng thí nghiệm</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "Train")">ĐÀO TẠO</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "TUni")">Đào tạo đại học</a></li>
                        <li><a href="@Url.Action("Index", "TAUni")">Đào tạo sau đại học</a></li>
                        <li><a href="@Url.Action("Index", "TDescribes")">Mô tả chương trình đào tạo</a></li>
                        <li><a href="@Url.Action("Index", "TOrientation")">Định hướng ngành nghề</a></li>
                        <li><a href="@Url.Action("Index", "TOutput")">Chuẩn đầu ra</a></li>
                        <li><a href="@Url.Action("Index", "TProposals")">Đề cương môn học</a></li>

                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "Subjects")">BỘ MÔN-TRUNG TÂM</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "CNTT")">CN phần mềm</a></li>
                        <li><a href="@Url.Action("Index", "HTTT")">Hệ thống thông tin</a></li>
                        <li><a href="@Url.Action("Index", "Math")">Toán học</a></li>
                        <li><a href="@Url.Action("Index", "ITCal")">Tin học và kỹ thuật tính toán</a></li>
                        <li><a href="@Url.Action("Index", "IT")">Trí tuệ nhân tạo</a></li>
                        <li><a href="@Url.Action("Index", "WebSecurity")">Mạng và an toàn thông tin</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "ACNTT")">TUYỂN SINH</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "ACNTT")">Nhóm ngành CNTT</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "Students")">SINH VIÊN</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "STL")">Tài liệu sinh viên</a></li>
                        <li><a href="@Url.Action("Index", "Students")">Tổ tư vấn học tập</a></li>
                        <li><a href="@Url.Action("Index", "DATN")">Biểu mẫu đồ án tốt nghiệp</a></li>
                        <li><a href="@Url.Action("Index", "LVTN")">Luận văn tốt nghiệp</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "News")">TIN TỨC</a>
                    <ul class="list-child-nav">dot
                        <li><a href="@Url.Action("Index", "NEvents")">Sự kiện</a></li>
                        <li><a href="@Url.Action("Index", "NonNews")">CSE trên báo</a></li>
                    </ul>
                </li>
                <li class="sub-nav">
                    <a href="@Url.Action("Index", "Notification")">THÔNG BÁO</a>
                    <ul class="list-child-nav">
                        <li><a href="@Url.Action("Index", "Noti2")">Thông báo</a></li>
                        <li><a href="@Url.Action("Index", "TBDT")">TB đào tạo</a></li>
                        <li><a href="@Url.Action("Index", "NNCKH")">Nghiên cứu khoa học</a></li>
                        <li><a href="@Url.Action("Index", "TD")">Tuyển dụng</a></li>
                        <li><a href="@Url.Action("Index", "HB")">Học bổng</a></li>
                        <li><a href="@Url.Action("Index", "DifNo")">Thông báo khác</a></li>
                    </ul>
                </li>
                <li class="sub-nav"><a href="@Url.Action("Index", "Contact")">LIÊN HỆ</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top text-muted">
        <div class="container footer-container">
            <div class="row">
                <div class="col-md-3 footer-col">
                    <ul class="footer-menu">
                        <li><a href="@Url.Action("Index", "Introduces")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("Index", "GTLogo")">Logo của Khoa CNTT</a></li>
                        <li><a href="@Url.Action("Index", "Greetings")">Lời chào mừng</a></li>
                        <li><a href="@Url.Action("Index", "GTOrganization")">Tổ chức</a></li>
                        <li><a href="@Url.Action("Index", "HTLK")">Hợp tác liên kết</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <ul class="footer-menu">
                        <li><a href="@Url.Action("Index", "Train")">Đào tạo</a></li>
                        <li><a href="@Url.Action("Index", "TUni")">Mô hình đào tạo</a></li>
                        <li><a href="@Url.Action("Index", "TUni")">Đào tạo đại học</a></li>
                        <li><a href="@Url.Action("Index", "TOrientation")">Định hướng ngành nghề</a></li>
                        <li><a href="@Url.Action("Index", "TAUni")">Đào tạo sau đại học</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <ul class="footer-menu">
                        <li><a href="@Url.Action("Index", "ScientificResearch")">Nghiên cứu khoa học</a></li>
                        <li><a href="@Url.Action("Index", "Seminars")">Thông tin seminar</a></li>
                        <li><a href="@Url.Action("Index", "SRprojects")">Các đề tài, dự án</a></li>
                        <li><a href="@Url.Action("Index", "CTCB")">Công trình công bố</a></li>
                        <li><a href="@Url.Action("Index", "SRLabs")">Các phòng thí nghiệm</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <ul class="footer-menu">
                        <li><a href="@Url.Action("Index", "CNTT")">Công nghệ phần mềm</a></li>
                        <li><a href="@Url.Action("Index", "HTTT")">Hệ thống thông tin</a></li>
                        <li><a href="@Url.Action("Index", "ITCal")">Khoa học máy tính</a></li>
                        <li><a href="@Url.Action("Index", "WebSecurity")">Kỹ thuật máy tính và mạng</a></li>
                        <li><a href="@Url.Action("Index", "Math")">Toán học</a></li>
                        <li><a href="@Url.Action("Index", "IT")">Trung tâm tin học</a></li>
                    </ul>
                </div>
            </div>
            <div class="container footer-desc">
                <div class="row">
                    <div class="footer-contact">

                        <img src="http://cse.tlu.edu.vn/portals/0/images/img-01.png" alt="">
                        <p class="text-white">
                            © 2017 Khoa Công nghệ thông tin - Đại học Thủy lợi
                            <br>
                            Địa chỉ: nhà C1, Đại học Thủy lợi, 175 Tây Sơn, Đống Đa, Hà Nội. Điện thoại: (+84)-024 3
                            5632211. Email:
                            <a class="text-white" href="#">vpkcntt@tlu.edu.vn</a>
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>*@
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login-popup.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/translations/vi.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
