@model Web_CSE.Models.Post

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (User.Identity.IsAuthenticated)
{

<h1>Xóa bài viết</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Title" class="control-label">Tiêu đề</label>
        </dt>
        <dd class="col-sm-10 posts-title">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Contents" class="control-label">Nội dung</label>
        </dt>
        <dd class="col-sm-10 ck-content">
            @Html.Raw(@Model.Contents)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CreatedAt" class="control-label">Ngày đăng</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt class="col-sm-2">
            <label asp-for="Thumb" class="control-label">Ảnh đại diện</label>
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Thumb)*@
            <img src="/images/posts/@Model.Thumb" alt="@Model.Thumb" style="max-width:200px" />
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Account" class="control-label">Tên người đăng</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Cat" class="control-label">Danh mục</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatName)
        </dd>
    </dl>
    <form asp-action="Delete" class="post-index">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Xóa bài viết" class="btn btn-danger" />
        <a asp-action="Index" class="back-to-list"><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay lại</a>
    </form>
</div>
}