@model IEnumerable<Web_CSE.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
    
    @if (User.Identity.IsAuthenticated)
{
 
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="m-0 font-weight-bold text-primary" style="text-align: center;">Quản Lý Bài Đăng</h1>
                            <p>
                                <a asp-action="Create">Thêm Mới</a>
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                            Danh mục
                                            </th>
                                            <th>
                                                Tiêu đề
                                            </th>
                                            <th>
                                                Nội dung
                                            </th>
                                            <th>
                                                Ngày đăng
                                            </th>
                                            <th>
                                                Tài khoản
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        @foreach (var item in Model) {
                                            <tr>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.Thumb)*@
                                                        <img  src="/images/posts/@item.Thumb" alt="@item.Thumb" style="max-width:100px" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cat.CatName)
                                                </td>
                                                    <td style="max-width:300px">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                    <td style="max-width:300px">
                                                    @Html.Raw(item.ShortContent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                                </td>

                                            
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Account.FullName)
                                                </td>
                                            
                                                <td>
                                                   <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                                                </td>
                                            </tr>
                                        }   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

    }
