@model Web_CSE.Models.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xóa tài khoản</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Tên đầy đủ</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Email</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Số điện thoại</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Kích hoạt</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Thời gian tạo</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Password" class="control-label">Quyền</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="post-index">
            <input type="hidden" asp-for="AccountId" />
            <input type="submit" value="Xóa tài khoản" class="btn btn-danger" />      
            <a asp-action="Index" class="back-to-list"><i class="fa fa-arrow-left" aria-hidden="true"></i>Quay lại</a>
        </div>
        
    </form>
</div>
