@model Web_CSE.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    string password = Model.Password;
    string maskedPassword = new string('*', password.Length);
}

<h1>Detail</h1>

<hr />

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Role.RoleName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Role.RoleName)
    </dd>
</dl>

<div class="form-group">
    <a asp-action="Index" class="btn btn-default">Back</a>
</div>
