@model Web_CSE.Areas.Admin.Models.DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@* <p>Xin chào, @ViewBag.CurrentUser.UserName</p> *@

   @*if (Model.Notification != null)
    {
        <div class="alert alert-@Model.Notification.Type">@Model.Notification.Message</div>
    }
    else{
        <h1>null</h1>
    } *@
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="m-0 font-weight-bold text-primary" style="text-align: center;">Quản Lý Tài Khoản</h1>
                            <p>
                                <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Thêm tài khoản </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Email</th>
                                            <th>Số Điện Thoại</th>
                                            <th>Ngày Tạo</th>
                                            <th>Quyền</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        @foreach (var item in Model.Accounts) {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Phone)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                                                </td>
                                                <td>
                                                <a asp-action="Edit" asp-route-id="@item.AccountId" class="icon"><i class="fa-solid fa-pen-to-square"></i></a> |
                                                <a asp-action="Details" asp-route-id="@item.AccountId" class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></a> |
                                                <a asp-action="Delete" asp-route-id="@item.AccountId" class="icon"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                                </td>
                                            </tr>
                                        }   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
